<div class="body">
  <div class="login">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50" ></mat-spinner>

    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
      <img src="./assets/img/usuario.png" alt="" srcset=""><br><br>
      <h1>Inicio de sesión</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="usuario">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput autocomplete="off" formControlName="password">
      </mat-form-field><br>
      <button type="submit" class="ancho boton" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button><br><br>
      <p><span class="copyrigth">MaCs Co. Software Factory</span></p>
    </form>
  </div>
</div>